html, body, #root, .row {
  width: auto;
  height: 100vh;
}

.App-title {
  font-size: 32px;
  font-weight: bold;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.navbar {
  background-color: #E6E6E8;
  width: 100%;
  height: 5%;
  border-bottom: 1px solid black;
}
 .Chat-container {
  width: 100%;
}

.col-sm-3 {
  float: left;
  background-color: #E7E7E9;
  height: 100vh;
}

.col-sm-9 {
  float: left;
  padding: 0;
  height: 100vh;
}

.Room-list, .Message-list {
   margin: 10px;
 }


ul {
  padding: 0;
  list-style-type: none;
}

.Room-link {
  padding: 2px;
  color: #959596;
  text-decoration: none;
}

.Room-link-active {
  padding: 2px;
  background-color: #959596;
  color: #E7E7E9;
  text-decoration: none;
}

.Room-link:hover {
  padding: 2px;
  color: #959596;
  text-decoration: none;
}

.Room-link-active:hover {
  padding: 2px;
  background-color: #959596;
  color: #E7E7E9;
  text-decoration: none;
}

a.Room-message p {
  padding: 0;
  text-decoration: none;
}

.Message-list {
  margin:0;
}

ul.Messages-nav li:nth-child(odd) {
  background-color: #F6F7FB;
  padding: 0px 5px 5px 5px;
}

ul.Messages-nav li:nth-child(even) {
  background-color: #FFFFFF;
  padding: 0px 5px 5px 5px;
}

div.rightside-left-chat {
  margin-right: 50px;
  padding: 0px 20px 0px 20px;
}

div.rightside-left-chat p {
  margin: 0;
  padding: 0;
}

#message-time {
  color: #A99F9D;
  font-style: italic;
  float:right;
  background-color: transparent;
}

#message-author {
  font-weight: bold;
}

.List-title {
  margin: 10px;
}

#display-name {
  margin-left: 10px;
}
