.App-title {
  font-size: 32px;
  font-weight: bold;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.col-sm-3 {
  background-color: #E7E7E9;
}

.Room-list {
  margin: 10px;
}

ul {
  padding: 0;
  list-style-type: none;
}

.Room-link a {
  color: #959596;
  text-decoration: none;
}
